.Chat {
  padding:10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(3px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Chat {
  border: 1px solid black;
  overflow-y: scroll;
  overflow-wrap: break-word;
  height: 20vh;
  max-width: 40vw;
}

.systemMessage {
  font-style: italic;
  font-size: 12px;
  color:#d0dbf0;
  text-align: center;
}

p {
  /* max-width: auto; */
  /* word-wrap: break-word; */
  /* padding: 10px; */
  margin: 0;
  font-size: 16px;
}

.player1 {
  color: #61dafb;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

.player2 {
  color:crimson;
  font-size: 18px;
  font-weight: 600;
  text-transform: capitalize;
}

input[type="text"] {
  outline: none;
}


.Hand p {
  margin: 0;
}

.Hand img {
  width: 200px;
  height: 200px;
  cursor: pointer;
  border-radius: 9px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -2px 2px 11px 0px rgba(0, 0, 0, 0.75);
  transition: .3s linear;
}

.HandImageClicked {
  scale: 0.99;
}

.controller-container {
  display: flex;
  justify-content: space-between;
}

.container-commands {
  font-size: 30px;
}